.notification {
  display: flex;
  background-color: hsl(210, 60%, 98%);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
}

.notification.new {
  background-color: hsl(211, 68%, 94%);
}

.user_profile_image_container {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.user_profile_image {
  width: 50px;
  height: 50px;
}

.ntf_details {
  display: flex;
  position: relative;
}
.ntf_msg {
  color: hsl(219, 14%, 63%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.user_name {
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}
.user_name:hover {
  color: hsl(219, 85%, 26%);
}
.notification_bold_text {
  font-weight: bold;
  color: hsl(219, 12%, 42%);
  margin-left: 5px;
  cursor: pointer;
}
.notification_bold_text:hover {
  color: hsl(219, 85%, 26%);
}
.red_circle {
  /* position: absolute; */
  /* right: 5px;
  top: 15px; */
  margin-left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: hsl(1, 90%, 64%);
}

.notification_time {
  color: hsl(219, 14%, 63%);
  margin-top: 5px;
}

.private_message {
  color: hsl(219, 14%, 63%);
  border: 1px solid hsl(219, 14%, 63%);
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.private_message:hover {
  background-color: hsl(211, 68%, 94%);
  border: 1px solid hsl(211, 68%, 94%);
}

.post_image {
  margin-left: auto;
}

.post_image img {
  height: 50px;
  width: 50px;
}

@media (max-width: 768px) {
  .notification_app {
    padding: 0;
  }
  .notifications_card {
    border-radius: 0px;
  }
  .ntf_header_title {
    font-size: 20px;
  }
  .notification_number {
    padding: 2px 7px;
  }
  .user_profile_image {
    width: 40px;
    height: 40px;
  }
  .user_profile_image_container {
    width: 40px;
    height: 40px;
  }
  .private_message {
    padding: 10px;
  }
  .post_image img {
    width: 40px;
    height: 40px;
  }
}
